<<<<<<< HEAD
body{
    background-color: rgb(199, 178, 219);
    color:rgb(red, green, blue);
}
p{
    background-color: rgb(137, 127, 209);
}
a{
    background-color: rgb(72, 178, 58);
=======
body{
    background-color: rgb(199, 178, 219);
    color:rgb(red, green, blue);
}
p{
    background-color: rgb(137, 127, 209);
}
a{
    background-color: rgb(72, 178, 58);
>>>>>>> 4320d156c70b9528fb7c2aa09039156ace66e188
}